{% extends 'baseAdmin.html.twig' %}
{% block content %}
    {% for destination in destination %}
        <div class="destination">
                 <h1 class="title">{{ destination.name }}</h1>
        </div>
    {% endfor %}
{% endblock %}